!!! XML
!!! Strict
%html
  %head
    %title Pet Project
    %link{:rel=>"shortcut icon", :href=>"/images/favicon.png", :type=>"image/x-icon"}
    %script{:src=>"/assets/calc.js", :type=> 'text/javascript'}
    %link{:href=> "/assets/app.css",:media=>"all",:rel=>"stylesheet",:type=>"text/css"}


  %body
    #top
    #application
    #footer

  :javascript
    // application main entry point
    $(document).ready(function() {
      var app = new Pet.calc.views.Application({el: $('#application'), model: new Pet.calc.models.Application()});    
    });

